.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loading1{
  animation: loading1 1 infinite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}
.parent{
  height: 100vh;
  position: "fixed";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: center;
  display: flex;
  background: rgb(55,67,101);
  background: -moz-linear-gradient(29deg, rgba(55,67,101,1) 0%, rgba(75,91,136,1) 35%, rgba(93,119,194,1) 100%);
  background: -webkit-linear-gradient(29deg, rgba(55,67,101,1) 0%, rgba(75,91,136,1) 35%, rgba(93,119,194,1) 100%);
  background: linear-gradient(29deg, rgba(55,67,101,1) 0%, rgba(75,91,136,1) 35%, rgba(93,119,194,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#374365",endColorstr="#5d77c2",GradientType=1);
}
@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}